*{
    font-family: 'Montserrat', sans-serif;
}
header {
    background-color: rgb(69, 155, 155);

}
.titulo{
    color: aquamarine;
    padding:  50px;
    margin: 0px;
}
.contenedor{
    margin: 0px;
    display: flex; 
}
img{
        width: 300px;
        height: 300px;
        border-radius: 50%;
        margin: 0 auto;
    }
.informacion{
    background-color: aquamarine;
}
h1{
    font-size: 50px;
    margin: 5px;
    text-align: center;
}
.contenido{
    background-color: beige;
}
.contactarme{
    display: flex;
    background-color:rgb(69, 155, 155) ;
}
#redes a{
    display: inline-block;
    text-decoration: none;
    background-color: #000;
    color: #2b568f;
    border: 1px solid #1b0c9e;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 0px;
    transition: .3s;
    text-align: center;
}
#redes{
    display: none;
}
#redes a:hover{
    color: #fff;
    background-color: #1a8699;
    box-shadow: 0 0 20px #fff;
}
.historial {
    color: rgb(38, 153, 138);
}
#boton {
    border-color: #1b0c9e;
    background-color: aquamarine;
    box-shadow: 2px 2px 7px 1px #1C6EA4;
}